body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #fff;
  margin: 0px 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  height: 32px;
  background: #e8491d;
  border: none;
  padding: 0 20px;
  color: #fff;
  border-radius: 3px;
}


/* Header */
header {
  background: #35424a;
  color: #fff;
  min-height: 100px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0px 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
  line-height: 100px;
}

header nav {
  float: right;
  line-height: 100px;
}

header .highlight, header .current a {
  color:#e8491d;
}

header a:hover {
  color: #ccc;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Newsletter */

#newsletter {
  padding: 15px;
  color: #fff;
  background: #35424a
}

#newsletter h1 {
  float: left;
  margin: 0;
  height: 50px;
  line-height: 50px;
}

#newsletter form {
  float: right;
  height: 50px;
  line-height: 50px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 20px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img {
  width: 90px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main Column */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #ccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  background-color: #e8491d;
  text-align: center;
}


/* Responsive Media Queries */

@media(max-width: 800px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form, 
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
    line-height: inherit;
    height: auto;
  }

  header {
    padding-bottom: 15px;
  }

  #showcase h1 {
    font-size: 40px;
  }

  #newsletter button {
    display: block; 
    width: 100%;
  }
  #newsletter form input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  aside#sidebar .quote button {
    display: block;
    width: 90%;
    margin: auto;
  }
}

@media(max-width: 530px) {
  #showcase h1 {
    margin-top: 50px;
  }
}
